<div class="row">
    <div class="col-sm">
        <h3 class="t-caps">Popular Stats</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
    	<div 
		    *ngIf="loadstate"
		    class="loader">
		</div>
        <!-- <ul>
			<li *ngFor="let d of data">
				<p>Price {{d.market_price_usd}}</p>			
			</li>
		</ul> -->
        <!-- <ul>
            <li *ngFor='let key of data | values'>
                Key: {{key.key}}, value: {{key.value}}
            </li>
        </ul> -->
        <div> {{posts}}</div>
    </div>
    <div class="col-sm-6">
        <p>Average Block Size <span>{{data}}</span></p>
    </div>
</div>
 <div class="row">
    <div class="col-sm-6">
        <p>Transactions per Day</p>
    </div>
    <div class="col-sm-6">
        <p>Mempool Size</p>
    </div>
</div>