<div class="row">
    <div class="col-sm">
        <h3 class="t-caps">Popular Stats</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
    	<div 
		    *ngIf="loadstate"
		    class="loader">
		</div>
        <div *ngIf="price.market_price_usd">
            ${{price.market_price_usd}}
        </div>
    </div>
    <div class="col-sm-6">
        <div 
            *ngIf="loadstate"
            class="loader">
        </div>
        <p>Average Block Size <span>{{size}}</span></p>
    </div>
</div>
 <div class="row">
    <div class="col-sm-6">
        <div 
            *ngIf="loadstate"
            class="loader">
        </div>
        <p>Transactions per Day</p>
        <p>{{transactions}}</p>
    </div>
    <div class="col-sm-6">
        <div 
            *ngIf="loadstate"
            class="loader">
        </div>
        <div *ngIf="errorMessage">
            <h3>There is a problem connecting to the API.</h3>
            <p>Please wait a moment and try again</p>
        </div>
        <p>Mempool Size</p>
        <p>{{mempool}}</p>
    </div>
</div>