$light-blue: #11B0E2;
$dark-blue: #004C79;
$gray-2: #F5F7F9;
$gray-4: rgb(209, 217, 221); // #d1d9dd
$gray-7: rgb(145, 160, 173); // #91a0ad
$gray-10: #5A5A5A;
$teal: rgb(0, 199, 177); // #00c7b1
$carousel-control-color: black;
$carousel-caption-color: black;
$carousel-indicator-active-bg: black;
$transition-timing: 0.218s;
$white: rgb(255, 255, 255); // #ffffff