@import 'assets/styles/base';

.navigation {
	position: fixed;
	top: 0;
	width: 100%;
	height: 5.625rem;
	background: $dark-blue;
	color: $white;
	z-index: 100;
}

.navigation-content {
	display: flex;
	align-items: center;
	height: 5.625rem;
	padding: 0 2.5rem;
}

.navigation-logo {
	width: 10.625rem;
	height: 1.3125rem;

}

.body-content {
	margin-top: 5.625rem;
}

.section-container {
	padding: 2.5rem 0;
}

.section-container--alt {
	background: $gray-2;
}

.section-title {
	margin-bottom: 1.25rem;
	text-transform: uppercase;
}

.row {
	// fix grid bug
	margin-right: 0; 
    margin-left: 0; 
}