<nav class="navigation">
    <div class="row">
        <div class="col-sm">
            <div class="navigation-content">
                <img 
                    class="navigation-logo"
                    src="https://blockchain.info/Resources/white-blockchain.svg" alt="blockchain">
            </div>
        </div>
    </div>
</nav>

<section class="body-content">
    <stats></stats>
    <div class="section-container section-container--alt">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h3 class="section-title">Currency Statistics</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <ngbd-carousel-basic></ngbd-carousel-basic>
                </div>
            </div>
        </div>
    </div>
</section>
