<ngb-carousel>
	<ng-template ngbSlide>
		<a href="https://blockchain.info/charts/total-bitcoins">
			<img src="./assets/img/Circulation_2.png" alt="Random first slide">
			<div class="carousel-caption">
				<h4>Bitcoins in Circulation</h4>
				<p>The total number of bitcoins that have already been mined.</p>
			</div>
		</a>
	</ng-template>
	<ng-template ngbSlide>
		<a href="https://blockchain.info/charts/market-price">
			<img src="./assets/img/Market_Price_4.png" alt="Random first slide">
			<div class="carousel-caption">
				<h4>Market Price (USD)</h4>
				<p>Average USD market price across major bitcoin exchanges.</p>
			</div>
		</a>
	</ng-template>
	<ng-template ngbSlide>
		<a href="https://blockchain.info/charts/market-cap">
			<img src="./assets/img/Market_Capitialization.png" alt="Random second slide">
			<div class="carousel-caption">
				<h4>Market Capitalization</h4>
				<p>The total USD value of bitcoin supply in circulation, as calculated by the daily average market price across major exchanges.</p>
			</div>
		</a>
	</ng-template>
	<ng-template ngbSlide>
		<a href="https://blockchain.info/charts/trade-volume">
			<img src="./assets/img/Trade_Volume.png" alt="Random second slide">
			<div class="carousel-caption">
				<h4>USD Exchange Trade Volume</h4>
				<p>The total USD of trading volume on major bitcoin exchanges.</p>
			</div>
		</a>
	</ng-template>
</ngb-carousel>