<ngb-carousel>
	<ng-template ngbSlide>
		<img src="./assets/img/Circulation_2.png" alt="Random first slide">
		<div class="carousel-caption">
			<h3>Bitcoins in Circulation</h3>
			<p>The total number of bitcoins that have already been mined.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<img src="./assets/img/Market_Price_4.png" alt="Random first slide">
		<div class="carousel-caption">
			<h3>Market Price (USD)</h3>
			<p>Average USD market price across major bitcoin exchanges.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<img src="./assets/img/Market_Capitialization.png" alt="Random second slide">
			<div class="carousel-caption">
			<h3>Market Capitalization</h3>
			<p>The total USD value of bitcoin supply in circulation, as calculated by the daily average market price across major exchanges.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<img src="./assets/img/Trade_Volume.png" alt="Random second slide">
			<div class="carousel-caption">
			<h3>USD Exchange Trade Volume</h3>
			<p>The total USD of trading volume on major bitcoin exchanges.</p>
		</div>
	</ng-template>
</ngb-carousel>